Server/RemotePlayerPi.layout
Server/RemotePlayerPi.depend
Server/RemotePlayerPi.sdf
Server/RemotePlayerPi.opensdf
Server/RemotePlayerPi.vcxproj.user
Server/RemotePlayerPi.v11.suo
Server/RemotePlayerPi.v12.suo
Server/Debug/
Server/obj/
Server/.vs/
App/.vs/
App/RemotePlayerPiApp.csproj.user
App/obj/